.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 200px;
    max-height: 250px;
}

.title-list {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
    background: #fafafa;
}

.playlist-wrap {
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
}

.video-list-wrap {
    padding: 1rem !important;
    overflow-y: scroll;
    max-height: 35rem;
}

.image-video {
    max-width: 150px !important;
}

.title-video {
    width: 6rem;
    height: 7rem;
    overflow: hidden;
}

.error-message {
    color: red;
    padding-top: 1rem;
}

.myplaylist {
    opacity: 0.9;
    margin: 2rem 0rem 2rem !important;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.youtube-img {
    transform: translate(12px,6px);
    height: 3rem;
    width: 3rem;
}

.playlist-card {
    width: fit-content;
}

.header-wrapper {
    background-image: url(https://images.pexels.com/photos/1227648/pexels-photo-1227648.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.pagination-playlist {
    text-align: center;
    margin: 3rem;
}

.button-add {
    margin: 2rem 0rem 2rem -1rem !important;
}

.label-add {
    font-size: 1rem !important;
}

.addfield-wrapper {
    padding-top: 4rem !important;
    margin-bottom: 2rem !important;
    width: 50% !important;
}

.button-add-playlist {
    margin-top: 2rem;
}

.delete-playlist {
    position: absolute;
    top: 7px;
    right: 0px;
    cursor: pointer;
}

.handle-video-wrapper {
    margin: 2rem;
    text-align: center;
}

.image-avatar {
    display: inline !important;
    margin-right: 10px;
}

.user-info-wrapper {
    position: relative;
    height: 20px;
}

.playlist-card {
    cursor: pointer;
}

.cursor-poiter {
    cursor: pointer;
}

.user-wrapper {
    position: absolute !important;
    height: fit-content !important;
    top: 28px !important;
}

.background-fb {
    background-color: #fbfbfb;
}

.circle-contain {
    position: relative;
    width: 400px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.checkbox-mode {
    float: right;
    padding: 20px;
    margin-left: 185px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-radius: 7px;
}

.time-contain {
    height:6%;
    width: 66%;
    position: absolute;
    left: 50%;
    margin-left: -40%;
    top: 50%;
    margin-top: -3%;
    font-family: 'Orbitron';
    font-weight: bolder;
    font-size: 60px;
    color: lightcoral;
}
.mini-time{
    font-size: 30px;
}
.web-title{
    font-family: 'Pacifico' !important;
}
.web-description{
    font-family: 'Dancing Script' !important;
}
.bold-font{
    font-weight: bolder;
}
.border-none{
    border: none !important;
}
.linear-back{
    background-image: linear-gradient(45deg,#cc2b5e , #753a88) !important;
}
.font-dancing{
    font-family: 'Dancing Script';
}